*{
    font-family: 'Open Sans', sans-serif;
}


/*Customização Navbar top*/
#navtop{
    background-color: #252323;
}

/*Conteudo*/

.center{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subline{
    background-color: #58af9b;
    width: 15.9969673vw;
    height: 0.7974vh;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1{
    font-family: 'Open Sans bold 700', sans-serif;  
}


p{
    width: 48.29416224412434vw;
    font-size: clamp(0.5em, 0.5em + 1.36vw, 1em);
}



/*Customização navbar foot*/
#navfoot{
    background-color: #252323;
}

#nvcontent{
    color: #777;
    font-size: 1.1em;

}

#nvcontent:hover{
    transition: 0.2s;
    color: white;
}